@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "../tailwind/components/components.css";

@layer base{
  :root{
    --color-primary: theme("colors.primary");
    --color-secondary: theme("colors.secondary");
    --color-accent: theme("colors.accent");
    --color-neutral: theme("colors.neutral");
    --color-info: theme("colors.info");
    --color-success: theme("colors.success");
    --color-warning: theme("colors.warning");
    --color-error: theme("colors.error");
    --color-gradient-first: theme("colors.gradient-first");
    --color-gradient-second: theme("colors.gradient-second");
  }
  html {
    font-family: var(--font-yekan);
  }
  :lang(en) {
    font-family: var(--font-figtree);
  }
  
}

.gradiant{
    @apply bg-gradient-to-r from-gradient-first to-gradient-second text-transparent bg-clip-text
}
.animated-icon {
  &>* {
    @apply transition-all
  }
  &:hover {
    @apply text-white ;
    &>* {
      @apply -translate-x-2 
    }
  }
}